.circle-button {
    width: 200px;
    height: 200px;
    background-color: #d1b89f;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
  }
  
  .circle-button:hover {
    transform: scale(1.05);
  }
  
  .button-image {
    width: 80px;
    height: 80px;
  }
  
  .button-text {
    margin-top: 10px;
    font-size: 18px;
  }
  