.EventsWeHave {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.eventSlider {
  margin-bottom: 30px;
}

.eventHeading {
  font-size: 50px;  
  font-weight: 700;  
  color: #222;  
  text-transform: uppercase; 
  letter-spacing: 2px; 
  text-align: center; 
  margin-bottom: 50px;
}

.eventContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  text-align: left;
  margin-top: 20px;
}

.eventContent:nth-child(even) {
  flex-direction: row-reverse;
}

.eventText {
  flex: 1;
  font-size: 18px;
  color: #444;
  padding: 20px;
}

.eventImage {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  
}

.eventImage img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
