@font-face{
  font-family:'samarkan';
  src:local('samarkan'), url("../Fonts/SamarkanNormal.ttf") ;

}

.navbar{
  z-index:5;
  padding-right:1rem;
  position:fixed;
  top:0;
  width: 100%;
  max-width:1925px;
  height:165px;
  display:flex;
  background-color:rgba(49, 34, 41, 1);
  color: #312229;
  justify-content: space-between;
  align-items: center;

  
}
.navbar .leftSide{
  width:17%;
  height:100%;
  display:flex;
  margin-left: 1rem;
  align-items:center;
  justify-content: center;
  background-color: inherit;
  padding:1.5rem 0;
}
.navbar .leftSide .Logos{
  background-color: inherit;
  height:100%;
  width:100%;
  display:flex;
  margin-left:1rem;
 
  gap:0.9rem;
  align-items:center;
  justify-content: center;
}
.img_1{
  background-color: inherit;
  width:100px;
  height:100px;
 
}

.img_2{
  width:95px;
  height:95px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .leftSide .Logos .v{
  width:0.1px; 
  height: 70px;
  border-right:0.01px solid #ffffff;
  border-bottom: 0px;
  border-left: 0px;
  
}
.navbar .rightSide {
  color: #312229;
  width: auto;
  flex-grow: 1;
  height:165px;
  display:flex;
  justify-content:flex-end;
  align-items: center;
}

.navbar .rightSide .navlinks{
  color: #312229;
  height:165px;
  width: auto;
  justify-content: flex-end;
  flex-wrap: wrap;
  font-family:'samarkan';
  display:flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
 
 
}

a{
  background-color: inherit;
  text-decoration: none;
  width: 160px;
  height:165px;

}



.topics a{
  display:block;
  
}

.navbar .rightSide #open{
  background-color: inherit;  
  display:flex;
 
}
.navbar .rightSide #close{
  
  background-color: inherit;
    display:flex;
 
}
li{
  background-color: transparent;
  list-style:none;
}
.navbar .rightSide .navlinks a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  margin: 0 10px;
 
}
ul li a {
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #D5C5AE;
  display: block;
  text-decoration: none;
  font-size: 30px;
  font-family: samarkan;
}

ul li a:hover,
ul li a:focus,
ul li a:active {
  
}

.active {
  background-color: #D5C5AE;
  color: #312229;
}

.navbar .rightSide .LogAndMenu .icon{
  background-color: inherit;
  display:none;
}
#closed{
  background-color: inherit;
  display:none;
}
#opened{
  background-color: inherit;
 
}
@media(max-width:930px){
  .navbar{
    height:7rem;
  }
  .navbar .rightSide{
    
    font-size: 0.8rem;
  }
  .navbar .rightSide #open{
    gap:0.3rem;
  }
  ul li a{
    font-size: 0.7rem;
    padding:0.2rem;
  }
  .navbar .rightSide .login{
    padding:0.3rem;
  }
}
@media(max-width:600px){
  
  .navbar{
    padding-right: 0;
   height:7rem;
    width:100%;
   border-radius:0;
  justify-content:center;
   align-items: start;
  }
  
  .navbar .leftSide{
    margin:0;
    height:100%;
    width:50%;
    height:100%;
    
    padding:0.5rem;
  }
  .navbar .rightSide{
    
 
   margin:0;
   padding:0.5rem 0;
    height:100%;
    width:50%;
   }
  
  .navbar .rightSide  .LogAndMenu .login{
    font-size:0.9rem;
    height:2.6rem;
    width:5rem;
    padding:0.7rem;
    text-transform: uppercase;
  }
  .navbar .rightSide .LogAndMenu{
    
    height:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
    margin-left:2rem;
  }
  .navbar .rightSide .vertical{
    display:none;
  }
  .navbar .rightSide .LogAndMenu .icon {
    height:2.5rem;
    width:3rem;
    box-shadow: 0px 4px 3px #403b30;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:1rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border:1px solid black;
  }
  
  
.navbar .rightSide #close{
    position:fixed;
    right:-500px;
   width:50%;
 

}
  .navbar .rightSide #open{
   width:50%;
  background-color: #ffacac;
  
  
    position:fixed;
    top:7rem;
    right:0px;
    display:flex;
    flex-direction: column;
    gap:0.7rem;
    align-items:start;
   
    border-bottom-left-radius:60px;
    border-bottom-right-radius:60px;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom:3rem;
    border:1px solid black;
    border-top:none;
 }

 
 
 
  ul li a {
  
    font-size:0.9rem;
    padding:0.7rem;
  }
  
  }
