.resource-box {
  background: #fdfdfd;
  border: 1px solid #ddd;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  background-color: #D5C5AE;
  width:80%
}

.box-title {
  
  font-size: 1.7rem;
  font-weight: bold;
}

.box-subtitle {
  color: #555;
  margin-bottom: 10px;
}

.dropdown-toggle {
  background-color: #312229;
  color:  #D5C5AE;
  border: none;
  padding: 0.5rem 1rem;
  width: 100%;
  text-align: left;
  font-weight: bold;
  cursor: pointer;
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-links {
  
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.dropdown-links li {
  list-style: disc;
  margin: 5px 0;
}

.pdf-card {
  background: #f1efee;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.link-list {
  margin-bottom: 25px;
  padding: 20px 30px;        /* Added padding for better readability */
  border-left: 6px solid #312229;
  background: #f1efee;
  transition: 0.5s;
}

.link-row {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  
}

.link-heading {
  color: fff;
  font-weight: 600;
  margin-right: 8px;
  white-space: nowrap;
}

.link-anchor {
  color: #0645AD;
  text-decoration: underline;
  margin-left: 10px;
}
