/* Apply background image to the entire page */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat; /* Prevents tiling of the image */
}

/* Ensure all content respects the full-page background */
.App {
  width: 100%;
  min-height: 100vh; /* Ensures the app stretches to fill the viewport height */
  display: flex;
  flex-direction: column;
  background-image: url('../src/assets/Background.png');
  background-position: center 165px; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling of the image */
  width: 100%;
  height: auto;
  display: flex;

}

h1 {
  font-size: 2.5rem;
}

.heading-section {
  width: 100%;
  text-align: left;
  color: #54101D;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  h1 {
    color: #54101D;
  }

  .strip {
    background-color: #54101D;
    flex-grow: 1;
  }
}