
*{

  padding:0;
  margin:0;
  box-sizing: border-box;
}
.App {
  background-color: #ffffff;
  background-image: url('../src/assets/Background.png');
  background-size: cover;
  background-position: center 165px;
  width:100%;
  height:auto;
  display:flex;
  flex-direction: column;
  font-family:Serif;
}


  

